# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# CMake temp build directories
*/_builds
*/*/_builds
*/*/*/_builds
*/*/*/*/_builds

# EP_BASE (install, download, build, ...)
_Base

# macosx
.DS_Store
*/.DS_Store
*/*/.DS_Store

# archives
*.tar.gz
*.tar.bz2

# emacs junk
*.*~
*~
